<p>
    <h1>Productos:</h1>

    <% @products_hash.each do |nombre, total| %>
        <p><strong><%= nombre %> llevas <%= total %> </p>
    <% end %>
    <br>
    <h4 style="font-size: 2rem">Total de la compra: <%= @total %></h4>
</p>
