.details {
  background-color: #26251c;
  color: white;
  margin-top: 5px;
  width: 100%;
  height: auto;
  font-size: 12px;
}

.details:hover {
  border: 1px solid black;
}

.cart {
  background-color: #f2a73d;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
  height: 39px;
}

.card-show {
  width: fit-content;
}

.card-body-show {
  width: fit-content;
}

.btn-show {
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn-show:hover {
  border: 1px solid black;
}

.img-thumbnail-show {
  border: none;
}

.card-show {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 10px;
}

.input-wrapper {
  width: 150px;
  height: 30px;
  display: flex;
  border-radius: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 10px;
  text-align: center;
}

.input-wrapper * {
  border: none;
  width: 50px;
  flex: 1;
}

.input-wrapper .input-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gray;
}

.input-wrapper .input-button:first-child {
  border-radius: 50% 0 0 50%;
}

.input-wrapper .input-button:last-child {
  border-radius: 0 50% 50% 0;
}
